
.register_form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    padding-bottom: 100px;
}

.register_form button{
    margin-top: 15px;
}

.register_form div{
    margin-top: 20px;
}

.register_form span{
    margin-right: 50px;
    font-size: 1.1em;
}

#display_img{
    float:right;
    margin-top: -15px;

    height: 70px;
    width: 70px;
    border: 1px solid gray;
}