.full-container{
    padding: 20px 30px 0px 10px;
    display: flex;
    flex-direction: row;
    height: 81vh;
}

.image-container{
    flex: 7;
    border-right: 1px solid black;
}

#post_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}

.right-side-container{
    flex: 5;
    
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

a{
    color: blue;
    text-decoration: underline;
    cursor: pointer; 
    width: fit-content;    
}

.data-container{
    flex: 3;

    padding: 10px;
    border-bottom: 1px solid black;
}

#description{
    overflow-y: scroll;
}

.comments-container{
    flex:6;
    overflow-y: scroll;
    
    padding: 10px;
    border-bottom: 1px solid black;
}

.comment-info{
    border-bottom: 1px solid lightgray;
    padding: 5px 0px;
}

.new-comment-form{
    flex: 3;
    overflow-y: scroll;

    padding: 10px;
    display: flex;
    flex-direction: row;
}

#comment-text{
    flex: 9;
}

#comment-button{
    flex: 3;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
}