
<div class="following-page-container">
  <h2>People followed by Username:</h2>

  <div class="following-container">
    <!--ngfor-->
    <div class="follow">
      <img class="follow-profile-image" src="https://i.ytimg.com/an_webp/mYiCGLgRuAs/mqdefault_6s.webp?du=3000&sqp=CNH-xekF&rs=AOn4CLDsHYXDH2wi1cIkRIe575ZyiM8FYA">
      <a class="follow-name">User 3</a> <!--onlcick redirect la porfilul user-ului-->
    </div>

    <div class="follow">
      <img class="follow-profile-image" src="https://i.ytimg.com/an_webp/mYiCGLgRuAs/mqdefault_6s.webp?du=3000&sqp=CNH-xekF&rs=AOn4CLDsHYXDH2wi1cIkRIe575ZyiM8FYA">
      <a class="follow-name">User 4</a>
    </div>
  </div>
</div>