
<div class="rating-page-container">
  <h2>Username's rating statistics:</h2>

  <div class="rating-stats">
    <div class="rating-tiles">
      <p class="rating-title">Points from image uploads:</p>
      <p class="rating-title">Points from feedback:</p>
      <p class="rating-title">Points from competitions:</p>
    </div>

    <div class="rating-values">
      <p class="rating">40 points</p>
      <p class="rating">73 points</p>
      <p class="rating">100 points</p>
    </div>
    
  </div>
</div>