
<div class="followers-page-container">
  <h2>Username's followers:</h2>

  <div class="followers-container">
    <!--ngfor-->
    <div class="follower">
      <img class="follower-profile-image" src="https://i.ytimg.com/an_webp/mYiCGLgRuAs/mqdefault_6s.webp?du=3000&sqp=CNH-xekF&rs=AOn4CLDsHYXDH2wi1cIkRIe575ZyiM8FYA">
      <a class="follower-name">User 1</a> <!--onlcick redirect la porfilul user-ului-->
    </div>

    <div class="follower">
      <img class="follower-profile-image" src="https://i.ytimg.com/an_webp/mYiCGLgRuAs/mqdefault_6s.webp?du=3000&sqp=CNH-xekF&rs=AOn4CLDsHYXDH2wi1cIkRIe575ZyiM8FYA">
      <a class="follower-name">User 2</a>
    </div>
  </div>
</div>