
.admin-options{
    margin: 35px 50px 0 50px;
    display: flex;
    flex-direction: column;
}

.admin-options a{
    margin: 10px 0 10px 20px;
    width: fit-content;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    width: auto;
}
