
<div class="home-container">
  <div>
    <h2>Welcome to PhotoFeed.</h2>
    <br>
    <div class="containerdoi">
      <span>You can browse the latest 
        <a class="admin-user-name" (click)="navigateTo('basic-contests-list')">Basic Contests</a>
        or 
        <a class="admin-user-name" (click)="navigateTo('pro-contests-list')">Pro Contests</a>
        .
      </span>
      <br><br>
      <span>Or upload an image, eather as a 
        <a class="admin-user-name" (click)="navigateTo('upload')">Simple Upload</a>
        or to 
        <a class="admin-user-name" (click)="navigateTo('user-feedback')">Recive Feedback</a>
        .</span>
    </div>
  </div>    
</div>
